
.example-spacer {
  flex: 1 1 auto;
}
mat-form-field {
  width: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}





.file-input-container {
  position: relative;
  width: 100%; /* Set the width to 100% to match the container width */
}

.file-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.file-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
