  
 <div class="registration-form m-3 p-4">
  
  <form [formGroup]="ngForm">

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Reason For Travelling</mat-label>
          <input type="text" formControlName="Reason" matInput placeholder="Reason" pattern="^[a-zA-Z\s]*$" required>
          <mat-error *ngIf="ngForm.get('Reason')?.hasError('required')">
            Reason is required.
          </mat-error>
          <mat-error *ngIf="ngForm.get('Reason')?.hasError('pattern')">
            Only characters are allowed.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Adhar Number</mat-label>
          <input formControlName="Adhar" pattern="^\d{12}$" matInput type="text" required>
          <mat-error *ngIf="ngForm.get('Adhar')?.hasError('required')">
            Aadhar Number is required.
          </mat-error>
          <mat-error *ngIf="ngForm.get('Adhar')?.hasError('pattern')">
            12 digits required.
          </mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Manager</mat-label>
          <mat-select formControlName="Manager" required>
            <mat-option *ngFor="let m of managers" [value]="m.id">
              {{m.firstName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="ngForm.get('Manager')?.hasError('required')">
            Select a manager please.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Project</mat-label>
          <mat-select formControlName="Project" required>
            <mat-option *ngFor="let p of projects" [value]="p.id">
              {{p.projectName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="ngForm.get('Project')?.hasError('required')">
          Select a projet please.
          </mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Type of Booking</mat-label>
          <mat-select formControlName="TypeofBooking" required>
            <mat-option value="Flight">Flight</mat-option>
            <mat-option value="Hotel">Hotel</mat-option>
            <mat-option value="Both">Both</mat-option>
          </mat-select>
          <mat-error *ngIf="ngForm.get('TypeofBooking')?.hasError('required')">
            Select booking type.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="ngForm.get('TypeofBooking')?.value === 'Hotel' || ngForm.get('TypeofBooking')?.value === 'Both'">
      <p>Hotel Details:</p>
    <div class="row" >
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Check In</mat-label>
          <input matInput formControlName="Checkin" [matDatepicker]="checkinpicker" (click)="checkinpicker.open()"  required>
          <mat-datepicker-toggle matSuffix [for]="checkinpicker">
          </mat-datepicker-toggle>
          <mat-datepicker #checkinpicker></mat-datepicker>
          <mat-error *ngIf="ngForm.get('Checkin')?.hasError('required')">
            Check In date is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Check Out</mat-label>
          <input matInput formControlName="Checkout" [matDatepicker]="checkoutpicker" (click)="checkoutpicker.open()"  required>
          <mat-datepicker-toggle matSuffix [for]="checkoutpicker">
          </mat-datepicker-toggle>
          <mat-datepicker #checkoutpicker></mat-datepicker>
          <mat-error *ngIf="ngForm.get('Checkout')?.hasError('required')">
            Check out date is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Meal Preference</mat-label>
          <mat-select formControlName="Mealpreference" required>
            <mat-option *ngFor="let mp of mealpreference" [value]="mp.id">
              {{mp.value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="ngForm.get('Mealpreference')?.hasError('required')">
            Select an option please.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Meal Combo</mat-label>
          <mat-select formControlName="Mealcombo" required>
            <mat-option *ngFor="let mc of noofmeals" [value]="mc.id">
              {{mc.value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="ngForm.get('Mealcombo')?.hasError('required')">
          Select an option please.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    </div>
    <div *ngIf="ngForm.get('TypeofBooking')?.value === 'Flight' || ngForm.get('TypeofBooking')?.value === 'Both'">
      <p>Flight Details:</p>
      <label>Type of Flight:</label>
      <mat-radio-group formControlName="FlightSelection" required>
        <mat-radio-button value="domestic">Domestic</mat-radio-button>
        <mat-radio-button value="international">International</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="ngForm.get('FlightSelection')?.hasError('required')">
        Type of Flight is required.
      </mat-error>
      <div class="row" >
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Departure</mat-label>
            <input matInput formControlName="Departure" [matDatepicker]="departurepicker" (click)="departurepicker.open()"  required>
            <mat-datepicker-toggle matSuffix [for]="departurepicker">
            </mat-datepicker-toggle>
            <mat-datepicker #departurepicker></mat-datepicker>
            <mat-error *ngIf="ngForm.get('Departure')?.hasError('required')">
              Departure date is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Return</mat-label>
            <input matInput formControlName="Return" [matDatepicker]="returnpicker" (click)="returnpicker.open()"  required>
            <mat-datepicker-toggle matSuffix [for]="returnpicker">
            </mat-datepicker-toggle>
            <mat-datepicker #returnpicker></mat-datepicker>
            <mat-error *ngIf="ngForm.get('Return')?.hasError('required')">
              Return date is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>From</mat-label>
            <mat-select formControlName="From" required>
              <mat-option *ngFor="let c of cities" [value]="c.id">
                {{c.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="ngForm.get('From')?.hasError('required')">
              Select an option please.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>To</mat-label>
            <mat-select formControlName="To" required>
              <mat-option *ngFor="let c of cities" [value]="c.id">
                {{c.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="ngForm.get('To')?.hasError('required')">
            Select an option please.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Passport Number</mat-label>
            <input matInput type="text" formControlName="Passportnum"  required>
            <mat-error *ngIf="ngForm.get('Passportnum')?.hasError('required')">
              Passport number is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Passport File</mat-label>
            <div class="file-input-container">
              <input type="file" (change)="onFileSelected($event)" class="file-input" #fileInput>
              <input type="text" matInput [placeholder]="selectedFileName" [value]="selectedFileName" readonly>
              <button mat-icon-button class="file-button" (click)="openFileInput()">
                <mat-icon>attach_file</mat-icon>
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Visa Number</mat-label>
            <input type="text" formControlName="Visanum" matInput required>
            <mat-error *ngIf="ngForm.get('Visanum')?.hasError('required')">
              Visa number is required.
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Visa</mat-label>
            <input formControlName="Visafile"  matInput type="file" (change)="onFileSelected($event)">
          </mat-form-field>
        </div> -->
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Visa File</mat-label>
            <div class="file-input-container">
              <input type="file" (change)="onFileSelected($event)" class="file-input" #fileInput>
              <input type="text" matInput [placeholder]="selectedFileName" [value]="selectedFileName" readonly>
              <button mat-icon-button class="file-button" (click)="openFileInput()">
                <mat-icon>attach_file</mat-icon>
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>
    </div>

    <button (click)="AddRequest()" mat-raised-button color="accent" [disabled]="!ngForm.valid">Submit</button>

  </form>

</div>
<lib-ng-toast></lib-ng-toast>